<div class="mdl-layout__tab-panel is-active" id="overview">
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color-text--white">
            <img class="img-responsive" src="assets/quiz-logo.png">
        </header>
        <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card__supporting-text">
                <h4>Welcome to the {{title}}!</h4>
                <ul>
                    <li>You have 30 mins to complete the test.</li>
                    <li>There is only one correct choice for each question.</li>
                    <li>There is no negative marking.</li>
                </ul>
            </div>
            <div class="mdl-card__actions">
                <div class="mdl-layout-spacer"></div>
                <nav>
                    <button routerLink='/question' class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-js-ripple-effect">Start Quiz</button>
                </nav>
            </div>
        </div>
    </section>
</div>